/* GLOBAL */
/* END GLOBAL */

/* HEADER */
header .logo {
    padding: 22px 0;
}
header .top-bar {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
}
header .top-bar ul {
  background: #fff;
}
header .top-bar a {
  color: #000;
}
header .menu-top a {
    font-size: 12.5px;
}
header .menu-main a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 0;
}
header .menu-right{
  padding: 20px 0;
  position:relative;
}
header .menu-right input[type=search] {
  border:none;
  box-shadow:none;
  float: left;
}
header .menu-right .icon {
  position: absolute;
  top: 30px;
  left: -20px;
  height: auto;
  width: 20px;
}
header .menu-right li a {
    padding-left: 20px;
    padding-right: 20px;
}
/* END HEADER */

/* FOOTER */
footer {}
/* END FOOTER */

/* BUTTONS */
.button {
  background: #7abf55;
  text-transform:uppercase;
  line-height: 1.1;
  }
.button:hover {}
.button img{
  height: 20px;
  top: 17px;
  position: absolute;
  left: 12px;
}
/* END BUTTONS */

/* HOME SLIDER */
.home-slider {
    padding-right: 0;
}
.home-slider .button-group {
  position:relative;
  z-index:5;
  margin-bottom: -85px;
  margin-top: 25px;
  margin-left: 45px;
}
.home-slider .button-group .button {
    max-width: 140px;
    position: relative;
    text-align: left;
    padding-left: 45px;
    margin-left: 1px;
}
.home-slider .orbit {}
.home-slider .orbit-container {}
.home-slider .orbit-previous,
.home-slider .orbit-next {}
.home-slider .orbit-slide {}
.home-slider .orbit-caption {
    background: none;
    margin-bottom: 45px;
    margin-left: 35px;
}
.home-slider .orbit-caption img {}
.home-slider .orbit-caption h2 {
    font-size: 24px;
    text-transform: uppercase;
}
.home-slider .orbit-caption p {
    color: #a2a2a2;
}
.home-slider .orbit-bullets {
    margin-top: -45px;
    text-align: left;
    margin-left: 45px;
    float: left;
    background: rgba(0, 0, 0, 0.3);
    padding: 0px 15px 5px;
    border-radius: 20px;
}
.home-slider .orbit-bullets button{
    height: 10px;
    width: 10px;
    border: 1px solid #ddd;
    background: transparent;
    margin: 3px;
}
.home-slider .orbit-bullets .is-active {
    background: #fff;
}
/* END HOME SLIDER */

/* HOME TABS */
.home-tabs {
    max-height: 468px;
}
.home-tabs .tabs {
    border: none;
}
.home-tabs .tabs-title a {
  padding-left: 13px;
  padding-right: 13px;
}
.home-tabs .tabs-title a img {
  height: 18px;
}
.home-tabs .tabs-title.is-active a {
  background: #0472de;
  color: #fff;
}
.home-tabs .tabs-content {
    border: none;
}
.home-tabs .tabs-panel {
    padding: 0;
}
.home-tabs .tabs-panel img {
    border: 1px solid #0472de;
}
.home-tabs .tabs-panel h2 {
    font-size: 16px;
    text-transform: uppercase;
}
.home-tabs .tabs-panel p {
    line-height: 1.2;
}
.home-tabs .tabs-panel a {}
/* END HOME TABS */

/* FEATURED MENU BAR */
.featured-menu-bar {
    padding-left: .9375rem;
    padding-right: .9375rem;
    height: 95px;
    overflow: hidden;
}
.featured-menu-bar .columns {
    padding: 0;
    position: relative;
    height: 96px;
}
.featured-menu-bar h3 {
  position:relative;
  padding: 0 10px;
  margin-top:-60px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.featured-menu-bar a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.featured-menu-bar a::before {
  -webkit-transition: all .5s;
  transition: all .5s;
  content:'';
  position:absolute;
  top:0;bottom:0;left:0;right:0;
}
.featured-menu-bar a:hover::before {
  background: green;
}
.featured-menu-bar img {}
.featured-menu-bar p {
  position:relative;
  max-height:0;
  overflow:hidden;
}
.featured-menu-bar p {
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding: 0 10px;
  text-align: center;
}
.featured-menu-bar a:hover h3 {
  margin-top:-90px;
}
.featured-menu-bar a:hover p {
  max-height:200px;
}
/* END FEATURED MENU BAR */

/* SIMPLE MENU BAR */
.simple-menu-bar {
  max-width: 1170px;
  position:relative;
  overflow:hidden;
}
.simple-menu-bar::after {
  content:'';
  display:block;
  height:30px;
  box-shadow: 0 10px 15px #d2d2d2 inset;
  margin-left: -20px;
  margin-right: -20px;
  display: block;
}
.simple-menu-bar a {
    padding: 20px 0;
    display: inline-block;
}
/* END SIMPLE MENU BAR */

/* SOCIAL LINKS */
.social-link {}
/* END SOCIAL LINK */

/* IMAGE BACKGROUND SECTION */
.image-bg-section {
    position: relative;
    overflow:hidden;
  min-height:450px
}
.image-bg-section img {
  position:absolute;
  left:0;
  right:0;
}
.image-bg-section h3,
.image-bg-section p,
.image-bg-section a {
  position:relative;
  margin: 20px;
}
/* END IMAGE BACKGROUND SECTION */

/* BANNERS SIDEBAR */
.banners-sidebar p {
    background: #ebebeb;
    padding: 20px 20px 0;
    margin: 0;
}
.banners-sidebar p:last-child {
  padding-bottom: 20px;
}
/* END BANNERS SIDEBAR */